
 
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:16px 120px;
}
ul.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:32px;
    list-style:none;
}
.menu a{
    text-decoration: none;
    font-family: 'Inter', sans-serif;;
    color:black;
}
.btn{
    background-color: #469165;
    padding:12px 16px;
    border-radius:4px;
    font-size:16px;
    border:none;
    font-size: 16px;
    color:#FFFFFF;
}

 